@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color: #373b59;
}

body{
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    font-family: 'Popins', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}
.apresentação{
  display: flex;
  justify-content: center
  
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 400px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;

}
.movie img{
    width: 100%;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: #46d369;
}


.movie-info span.orange{
    color: orange;
}


.movie-info span.red{
    color: red;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(97, 102, 142);
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    
}
.overview h3{
    font-weight: bold;
    color: rgb(167, 159, 159);
}

.movie:hover .overview{
    transform:translateY(0);
}

.btn{
    padding: 10px;
    background: rgba(69, 2, 150, 0.53);
    display: inline-block;
    color: white;
    position: absolute;
    cursor: pointer;
}

.btn:hover{
    background: aliceblue;
    color: black;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 2;
    top: -100%;
    display: block;
    transition: 350ms;

}

/*  modal  */
.modal{
    width: 60%;
    height: 50%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 80px auto 0 auto;
}






.featured{
    height: 60vh;
    background-size: cover; 
    background-position: center;
}

.featured--vertical{
 width: inherit;
 height: inherit;
 background: linear-gradient(to top, #111 10%, transparent 90%);
 background: linear-gradient(to right, #111 30%, transparent 70%);
 display: flex;
 flex-direction: column;
justify-content: center;
padding-left: 30px;
padding-top: 5px;
}


.featured-name{
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.featured-info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: white;
}

#featured-year{
    margin-right: 15px;
}


#featured-points{
    margin-right: 15px;
}

#featured-points.green{
    color: #46d369
}


#featured-points.orange{
    color: orange;
}


#featured-points.red{
    color: red;
}

#featured-description{
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40%;
}


.close{
    float: right;
    font-size: 20px;
    margin: 10px 15px;
    transition: 350ms;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background: rgb(140, 19, 220);
}
.close:hover{
       background: aliceblue;
    color: black;
    transition: 350ms;
}

@keyframes animate {
    from{opacity: 1;}
    from{opacity: 0;}
}

.container{
    display: flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
}


.justify{
    text-align:justify ;

}


.center{
    text-align: center;
}

#menu li {
    display: inline;
    padding:30px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color:darkorchid;
}

